/.build/
/_build/
/Build
/Build.bat
/blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

MYMETA.*
XS.c
/WWW-Form-UrlEncoded-*
lib/WWW/Form/UrlEncoded.c
!lib/WWW/Form/ppport.h
